.gitignore
.shadow-cljs/
.vscode/
assets/
demo/
externs/
instance_ufo/
master_ufo/
package-lock.json
scripts/
shadow-cljs.edn
src/
dist/

!assets/icon.png
!dist/ChaliceIcons-Regular.woff
!dist/extension.js